.action
{
    display: inline-flex;
    align-items: center;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-decoration: none;
    margin-right: 30px;
}

.action::before
{
    content: "";
    background-color: var(--color-square);
    width: 10px;
    height: 10px;
    margin-right: 10px;
}