.form-input
{
    box-sizing: border-box;
    height: 50px;
    background-color: #fff;
    border: 5px solid #000;
    padding: 10px;
    font-family: 'Fira Code', sans-serif;
    font-size: 30px;
}

.form-input.message
{
    height: 320px;
}