.section
{
    background-color: var(--color-background-skills);
    border-bottom: 10px solid #7C5E99;
    padding-top: 50px;
    padding-bottom: 100px;
}

.section.-projetcs
{
    background-color: #000;
    border-bottom: 10px solid var(--color-background-skills);
}

.section.-aboutMe
{
    background-color: var(--color-background-about);
    border-bottom: 10px solid #000;
}

.section.-contact
{
    background-color: #3a4042;
    border-bottom: none;
}