.skill-tec
{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-family: 'Press Start 2P', sans-serif;
    color: #fff;
}

.skill-tec .right
{
    display: flex;
    margin-left: 20px;
    flex-direction: column;
    justify-content: space-around;
}

.skill-tec .icon
{
    width: 90px;
}

.skill-tec .progress-bar
{
    width: 320px;
    margin-top: 15px;
}